#root {
  width: 400px;
  margin: 20px auto;
  padding: 20px 10px 20px 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
}

.hover {
  background-color: #eee;
  cursor: pointer;
}

.hover ul {
  background-color: #fff;
}

li.opened > ul {
  display: block;
}

li:not(.opened) > ul {
  display: none;
}

.material-icons {
  color: gold;
  vertical-align: -0.2em;
}

.file {
  color: #bbbbbb;
}

ul.empty {
  font-style: italic;
  font-family: Georgia, serif;
  cursor: auto;
  margin-left: -2.2em;
}

.right-click-menu {
  margin: 0;
  padding: 5px;
  line-height: 1.5;
  position: fixed;
  list-style: none;
  background: #f0f0f0;
  box-shadow: 2px 2px 5px grey;
  border-radius: 2px;
  display: none;
}

.right-click-menu.active {
  display: block;
}

.right-click-menu.bound li:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}
