$contentBackground: #fff;
$mainTextColor: #000;
$highlightColor: #14A0C7;
$joinUsButtonColor: #699900;
$footerBackground: #21232E;
$gradientLeft: #649411;
$gradientRight: #2E5BD9;
$secondaryFontFamily: 'Hind', sans-serif;
$backgroundImage: url("../img/m-h-day.jpg");