$contentBackground: #21232E;
$mainTextColor: #fff;
$highlightColor: #FF4E33;
$joinUsButtonColor: #E3AC00;
$footerBackground: #383C4C;
$gradientLeft: #DEA307;
$gradientRight: #96324F;
$secondaryFontFamily: 'Fresca', sans-serif;
$backgroundImage: url("../img/m-h-night.jpg");